body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ed9121;
  margin-bottom: 2em;
}

#navbar h1 {
  color: black;
  margin-left: 1em;
  font-family: "Permanent Marker", cursive;
}

#navbar a {
  color: #eeeeee;
  margin-right: 1em;
}

.fa-home {
  color: #eeeeee;
  font-size: 1.5em;
  margin-right: 1em;
}

h1 {
  margin-left: 2em;
  display: inline;
}

ul {
  margin-left: 2em;
}

a {
  text-decoration: none;
  color: black;
}

.listhover:hover {
  color: rgb(93, 121, 172);
}

.addbtn {
  margin-left: 4.5em;
  display: inline;
}

button {
  background-color: #eeeeee;
  border: 2px solid rgb(93, 121, 172);
  color: rgb(93, 121, 172);
  border-radius: 5px;
  padding: 0.5em 1em;
}

button:hover {
  background-color: rgb(93, 121, 172);
  color: #eeeeee;
  cursor: pointer;
}

.reversebtn {
  background-color: rgb(93, 121, 172);
  border: 2px solid rgb(93, 121, 172);
  color: #eeeeee;
  border-radius: 5px;
  padding: 0.5em 1em;
}

.reversebtn:hover {
  background-color: rgb(70, 90, 126);
  color: #eeeeee;
  cursor: pointer;
}

img {
  height: 200px;
  margin-left: 2em;
  margin-top: 2em;
}

h2 {
  margin-left: 1em;
}

#userinfo {
  margin-left: 2em;
  margin-right: 2em;
}

.deletebtn {
  background-color: #eeeeee;
  color: #ed9121;
  border-color: #ed9121;
}

.deletebtn:hover {
  background-color: #ed9121;
  color: #eeeeee;
  border-color: #ed9121;
}

form {
  margin-left: 2em;
}

.urluser {
  width: 30%;
}

.maincontainer {
  display: flex;
  margin-top: 2em;
}

.postform {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.postform label {
  margin-top: 1em;
}

.postform button {
  margin-top: 1em;
  width: 25%;
}

#newuser input {
  margin-right: 1em;
}

#editform input {
  margin-right: 1em;
}

h3 {
  margin-left: 2em;
  margin-top: 4em;
}

#postcontent {
  margin-left: 2em;
  margin-bottom: 2em;
}

#tagitem {
  background-color: rgb(93, 121, 172);
  color: #eeeeee;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}

.recentposts h3 {
  margin-left: 1.5em;
}

.recentposts p {
  margin-left: 2em;
}

.recentposts i {
  margin-left: 2em;
}
