{% extends 'base.html' %}

{% block heading %}
<h1>Edit a User</h1>
{% endblock %}

{% block content %}
<form id="editform" method="POST">
  <label for="first_name">First Name</label>
  <input type="text" name="first_name" value={{user.first_name}}>
  <label for="last_name">Last Name</label>
  <input type="text" name="last_name" value={{user.last_name}}>
  <label for="image_url">Image URL</label>
  <input class="urluser" type="text" name="image_url" value={{user.image_url}}>
  <button type="submit">Submit</button>
  <button formaction="/users" formmethod="GET">Cancel</button>
</form>
{% endblock %}